.question-display-div {
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid slategrey;
    box-shadow: 0 0 1px 1px gray;
    background-color: bisque;
    padding: 4px 0;
}