.main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.question-container {
    display: block;
    width: 32%;
    height: 98%;
}

.synced-container {
    width: 66%;
}